* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
}


.header {
	background: linear-gradient(-45deg, #60ffe4, #b0b92b, #cb336f, #008eff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-weight: 700;
	color:  white;
	width: 100%;
	padding-top: 125px;
	padding-bottom: 250px;
	padding-left: 100px;

}

.header h1 {
	font-size: 82px;
}

.main {
	position: relative;
	bottom: 75px;
	
	z-index: 10;
	background: white;
	border-top-left-radius: 75px;
	border-top-right-radius: 75px;
}

.main h2 {
	padding-top: 75px;
	padding-left: 100px;
	font-size: 68px;
}

.main ul li {
	font-size: 32px;
	font-weight: 500;
	padding-top: 15px;
	padding-bottom: 15px;
	list-style: none;
	cursor: pointer;
}

.main ul li img {
	width: 24px;
	margin-left: 35px;
}

.main button {
	margin-left: 100px;
	border-radius: 20px;
	border: none;
	background: #0a026b;
	padding: 10px 25px;
	margin-top: 10px;
	width: 80%;
	height:  86px;
	font-size: 28px;
	font-weight: bolder;
	color: white;
	cursor: pointer;
}

.main button:active{
	position: relative;
	top: 1px;
}

ul {
	margin-bottom: 40px;
	margin-top: 40px;
	background: #ebebeb;
	width: 80%;
	padding: 40px;
	margin-left: 80px;
	border-radius: 40px;
}

input {
	margin: 10px 100px;
	width: 80%;
	height:  86px;
	border:  none;
	background: #ebebeb;
	padding-left: 20px;
	border-radius: 20px;
	font-size: 28px;
	font-weight: bolder;
}

.total {
	font-size: 38px;
	font-weight: bolder;
	margin-left: 100px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.clear {
	font-size: 28px;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 100px;
	font-weight: 600;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

